<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Tic-Tac-Tee</a>
      <div class="nav-collapse collapse">
	<ul class="nav">
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="#about">About</a></li>
	  <li><a href="#contact">Contact</a></li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div span="span12 center">

      <table>
	<tr>
	  <td>
	    <button id="0x0" class="btn game-button">
	    </button>
	  </td>
	  <td>
	    <button id="1x0" class="btn game-button">
	    </button>
	  </td>
	  <td>
	    <button id="2x0" class="btn game-button">
	    </button>
	  </td>
	</tr>

	<tr>
	  <td>
	    <button id="0x1" class="btn game-button">
	    </button>
	  </td>
	  <td>
	    <button id="1x1" class="btn game-button">
	    </button>
	  </td>
	  <td>
	    <button id="2x1" class="btn game-button">
	    </button>
	  </td>
	</tr>

	<tr>
	  <td>
	    <button id="0x2" class="btn game-button">
	    </button>
	  </td>
	  <td>
	    <button id="1x2" class="btn game-button">
	    </button>
	  </td>
	  <td>
	    <button id="2x2" class="btn game-button">
	    </button>
	  </td>
	</tr>

      </table>

    </div>
  </div>
</div> <!-- /container -->
